<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js")
</head>
<body>
    <div class="container">
        @Html.Partial("NavPartial")

            @RenderBody()

        @Html.Partial("FooterPartial")
        </div>
</body>
</html>
